html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@import './bootstrap.scss';
@import './helpers.scss';

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 700px;
}

#layout-container {
  height: calc(100vh - 48px);
  position: relative;
}

pre {
  white-space: pre-wrap;
}

p {
  margin: unset;
}